<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-4 col-md-offset-4">
            <form name='f' action="login" method='POST'>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" autofocus required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button class="btn btn-default" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
</body>
</html>