<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Lịch sử</title>
</head>
<body>
<div layout:fragment="content" ng-controller="HistoryController as vm">

</div>
<th:block layout:fragment="scripts">
    <script>
        (function () {
            'use strict'
            angular.module("BookStoreApp")
                .controller("HistoryController", HistoryController)
            HistoryController.$inject = ["$scope", "$mdDialog", "AlertService", "AccountService"];

            function HistoryController($scope, $mdDialog, AlertService, AccountService) {
                let vm = this;
                $.ajax({
                    url: "/api/buy/getByCurrentUser",
                    type: "GET",
                    success: function (response) {
                        console.log(response);
                    }
                })
            }
        })();
    </script>
</th:block>
</body>
</html>