<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Đặt hàng</title>
</head>
<body>
<div layout:fragment="content" ng-controller="OrderController as vm">
    <div layout="row" flex ng-show="vm.cartList.length > 0">
        <md-content flex layout="column">
            <div ng-repeat="item in vm.cartList" layout="row">
                <md-card layout="row" style="height: auto; width: 100%" layout-padding>
                    <img style="width: 100px; height: 120px; object-fit: cover" ng-src="{{item.book.imageUrl != null ? item.book.imageUrl : '/images/no-image.png'}}">
                    <div>
                        <h4>{{item.book.name}}</h4>
                        <p><b>{{item.book.price | currency: '' : 0}} ₫</b></p>
                        <p>Tác giả: {{item.book.author}}</p>
                    </div>
                    <div layout="row" flex layout-align="end">
                        <div class="form-inline">
                            <div class="form-group">
                                <input ng-change="vm.calculate()" min="1"  style="width: 70px" class="form-control" type="number" ng-model="item.quantity">
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="item.storeId">
                                    <option ng-repeat="store in vm.stores" ng-value="store.id">{{store.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button ng-click="vm.remove(item)" class="btn">Xóa</button>
                    </div>
                </md-card>
            </div>
        </md-content>
        <md-content layout="column" flex="30" layout-padding>
            <md-card style="background-color: antiquewhite" class="text-center">
                <h3 style="margin-top: 10px">Tổng trị giá đơn hàng:</h3>
                <p style="margin-top: 10px"><em>(Chưa bao gồm phí ship)</em></p>
                <h3 style="margin-top: 10px; color: indigo"><b>{{vm.totalMoney | currency: '' : 0}} ₫</b></h3>
            </md-card>
            <div class="form-group">
                <label>Địa chỉ nhận hàng:</label>
                <textarea ng-model="vm.createBuyDto.shipAddress" class="form-control" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label>Ghi chú</label>
                <textarea ng-model="vm.createBuyDto.note" class="form-control" rows="3"></textarea>
            </div>
            <div class="text-center">
                <md-button ng-click="vm.order()" class="md-raised md-warn">
                    Xác nhận thanh toán
                </md-button>
            </div>
        </md-content>
    </div>
    <div layout="column" flex layout-align="center center" ng-show="vm.cartList.length == 0">
        <div class="alert alert-warning">
            <strong>Giỏ hàng của bạn đang trống</strong>
            <p>Bấm vào <a href="/">đây</a> để xem danh sách sản phẩm.</p>
        </div>
    </div>
</div>
</body>

<th:block layout:fragment="scripts">
</th:block>

</html>