<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
</head>
<body>
<div layout:fragment="content" ng-controller="PasswordController as vm">
    <div layout="row" layout-align="center center" flex style="background-color: #ddd" class="repeated-item">
        <md-card style="width: 300px;">
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h2>Đổi mật khẩu</h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="changePasswordForm">
                    <md-input-container class="md-block">
                        <label>Mật khẩu cũ</label>
                        <input id="old" type="password" required md-no-asterisk name="old" ng-model="vm.dto.oldPassword">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Mật khẩu mới</label>
                        <input id="new" type="password" required md-no-asterisk name="new" ng-model="vm.dto.newPassword">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Xác nhận mật khẩu mới</label>
                        <input id="confirm" type="password" required md-no-asterisk name="confirm" ng-model="vm.confirm">
                    </md-input-container>

                    <div layout="row" style="padding-bottom: 20px">
                        <a href="{{vm.prevUrl}}">Quay lại</a>
                        <span flex></span>
                        <a href="/">Trang chủ</a>
                    </div>
                    <md-button ng-click="vm.changePassword()" ng-disabled="changePasswordForm.$invalid" style="width: 100%; margin: 0" type="submit"
                               flex class="md-raised md-warn">Xác nhận
                    </md-button>

                </form>
            </md-card-content>

        </md-card>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script>
        (function () {
            'use strict'
            angular.module("BookStoreApp")
                .controller("PasswordController", PasswordController)
            PasswordController.$inject = ["$scope", "$mdDialog", "AlertService", "AccountService"];

            function PasswordController($scope, $mdDialog, AlertService, AccountService) {
                let vm = this;
                vm.changePassword = changePassword;
                vm.dto = {
                    oldPassword: "",
                    newPassword: ""
                };

                vm.prevUrl = document.referrer;

                vm.confirm = "";

                function changePassword() {
                    if (vm.confirm != vm.dto.newPassword){
                        AlertService.error("Xác nhận mật khẩu mới không khớp", 2000);
                        return;
                    }
                    $.ajax({
                        url: "/api/account/change-password",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(vm.dto),
                        success: function (response) {
                            if (response.errorCode == 0){
                                AlertService.success(response.message, 2000);
                                setTimeout(function () {
                                    location.href = "/";
                                }, 2000)
                            } else {
                                AlertService.error(response.message, 2000);
                            }

                        }
                    })
                }
            }
        })();
    </script>
</th:block>
</body>
</html>