@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/material.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

md-card{
    cursor: pointer;
    transform: translateY(0);
    transition: all 0.4s ease-in-out;
    position: relative;
}

::-webkit-scrollbar-track
{
    background: rgb(156, 156, 156);
}

::-webkit-scrollbar
{
    width: 6px;
    background: rgb(156, 156, 156);
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: rgb(255,87,34);
}


md-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 10px #333;
    cursor: pointer;
    position: relative;
}