<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Book List</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
  img{
    width:100px;
    height: auto;
  }
  table, th,tr,td{
    border: 1px solid black;
  }
</style>
</head>
<body>
<div id="bookList"></div>
</body>
<script>
  function getAllBook(){
    $.ajax({
      url: "/api/books",
      method: "GET",
      success: function(data){
        let html = '<tr><th>Id</th><th>Name</th><th>Image</th><th>Price</th></tr>';
        data.forEach(function(book){
          html+=`<tr>
                  <td>${book.id}</td>
                  <td>${book.name}</td>
                  <td><img src='${book.imageUrl}'></td>
                  <td>${book.price}</td>
                </tr>`
        })
        $('#bookList').html('<table>'+html+'</table>');
      }
    })
  }

  $(document).ready(function(){
    getAllBook();
  })
</script>
</html>
