<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bảng điều khiển</title>
</head>
<body>
<div layout:fragment="content" ng-controller="DashboardController as vm">
    <div layout="row" flex>
        <md-sidenav
                style="width: 250px;"
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="2">

            <md-toolbar class="md-warn">
                <a href="/admin/dashboard" style="color: rgb(250,250,250); text-decoration: none">
                    <h1 class="md-toolbar-tools">Bảng điều khiển</h1>
                </a>
            </md-toolbar>
            <md-content flex style="background: antiquewhite">
                <div layout="column">
                    <md-list flex style="padding: 0;">
                        <div ng-repeat="function in vm.adminFunctions">
                            <md-list-item href="{{function.url}}">
                                <md-icon class="material-icons">{{function.icon}}</md-icon>
                                <p>{{function.name}}</p>
                            </md-list-item>
                            <md-divider></md-divider>
                        </div>
                    </md-list>
                </div>
            </md-content>
        </md-sidenav>

        <div layout:fragment="admin-content" layout="column" flex ng-cloak>
            <form style="padding-top: 5px">
                <div layout-gt-xs="row" layout-align="space-around">
                    <div flex="50" layout="row" layout-align="start center">
                        <md-button><strong>Thống kê</strong></md-button>
                    </div>
                    <md-input-container style="margin-bottom: 0">
                        <label>Ngày bắt đầu</label>
                        <md-datepicker ng-model="vm.from" md-max-date="vm.to"
                                       ng-change="vm.changeDate()"></md-datepicker>
                    </md-input-container>
                    <md-input-container style="margin-bottom: 0">
                        <label>Ngày kết thúc</label>
                        <md-datepicker ng-model="vm.to" md-min-date="vm.from"
                                       ng-change="vm.changeDate()"></md-datepicker>
                    </md-input-container>
                </div>
            </form>
            <md-divider></md-divider>
            <md-content flex layout="column" style="background-color: #ddd">
                <div>
                    <div>
                        <md-card layout="column">
                            <md-table-container flex>
                                <table md-table>
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column><span>Doanh thu</span></th>
                                        <th md-column><span>Số sách bán được</span></th>
                                        <th md-column><span>Số hóa đơn</span></th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row>
                                        <td md-cell>
                                            {{vm.statistic.total | currency: '' : 0}} ₫
                                        </td>
                                        <td md-cell>
                                            {{vm.statistic.totalBookOffline + vm.statistic.totalBookOnline}}
                                        </td>
                                        <td md-cell>
                                            {{vm.statistic.billDtoList.length}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </md-card>
                    </div>
                    <div flex layout="column">
                        <!--<div layout="row">-->
                            <!--<md-card flex layout="column">-->
                                <!--<div id="type_chart" flex></div>-->
                            <!--</md-card>-->
                            <!--<md-card flex layout="column">-->
                                <!--<div id="book_chart" flex></div>-->
                            <!--</md-card>-->
                        <!--</div>-->
                        <div>
                            <md-card flex layout="column">
                                <div id="common_chart" flex></div>
                            </md-card>
                        </div>
                        <div>
                            <md-card flex layout="column">
                                <div id="status_chart" flex></div>
                            </md-card>
                        </div>

                    </div>
                    <div>
                        <md-card style="padding-top: 5px;">
                            <form>
                                <div layout-gt-xs="row" layout-align="space-around">
                                    <div flex="50" layout="row" layout-align="start center">
                                        <md-button><strong>Danh sách hóa đơn</strong></md-button>
                                    </div>
                                    <div flex="50" layout="row" layout-align="start center">
                                        <md-checkbox style="margin-bottom: 0;" ng-model="vm.showList">Hiện danh sách
                                        </md-checkbox>
                                    </div>
                                    <md-input-container class="md-block" style="min-width: 200px;">
                                        <label>Loại hóa đơn</label>
                                        <md-select ng-model="vm.type" ng-change="vm.changeBillType()">
                                            <md-option ng-value="type.id"
                                                       ng-repeat="type in vm.allType track by type.id">
                                                {{type.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" style="min-width: 200px;">
                                        <label>Tình trạng hóa đơn</label>
                                        <md-select ng-disabled="vm.type == 0 || vm.type == 1" ng-model="vm.buyStatus" ng-change="vm.changeBillType()">
                                            <md-option ng-value="status.id"
                                                       ng-repeat="status in vm.allBuyStatus track by status.id">
                                                {{status.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </form>
                        </md-card>
                    </div>
                    <div layout="row" layout-wrap ng-show="vm.showList">
                        <div ng-repeat="bill in vm.listBills" flex="25">
                            <md-card style="padding: 5px; min-height: 150px">
                                <table>
                                    <tr>
                                        <td width="30%"><strong>Mã đơn</strong></td>
                                        <td>#{{bill.id}}</td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><strong>Tên</strong></td>
                                        <td>{{bill.customerName}}</td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><strong>SDT</strong></td>
                                        <td>{{bill.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><strong>Loại</strong></td>
                                        <td>
                                            <label class="label label-default" ng-show="bill.type == 1">Offline</label>
                                            <label class="label label-primary" ng-show="bill.type == 2">Online</label>
                                        </td>
                                    </tr>
                                    <tr ng-show="bill.type == 2">
                                        <td width="30%"><strong>Trạng thái</strong></td>
                                        <td>
                                            <label class="label label-warning" ng-show="bill.status == 1">Đang xử lý</label>
                                            <label class="label label-info" ng-show="bill.status == 2">Đang giao hàng</label>
                                            <label class="label label-success" ng-show="bill.status == 3">Đã giao hàng</label>
                                            <label class="label label-danger" ng-show="bill.status == 4">Đã hủy</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><strong>Tổng</strong></td>
                                        <td><span style="color: brown">{{bill.total | currency: '' : 0}} ₫</span></td>
                                    </tr>

                                </table>
                            </md-card>
                        </div>
                    </div>
                </div>
            </md-content>

        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
</th:block>
</body>
</html>